<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  style="margin: auto 25px;" class="m-t-md">
    <ion-label position="floating">First Name</ion-label>
    <!-- Input with placeholder -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item  style="margin: auto 25px;">
    <ion-label position="floating">Last Name</ion-label>
    <!-- Input with placeholder -->
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>

  <ion-item  style="margin: auto 25px;">
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input placeholder="+99 8(xx) xxx-xx-xx"></ion-input>
  </ion-item>

  <ion-row  style="margin: auto 25px;">
    <ion-col size="4"> </ion-col>
    <ion-col size="4">
      <ion-button (click)="navigateToProfile()">Sign In</ion-button>
    </ion-col>
    <ion-col size="4"> </ion-col>
  </ion-row>

</ion-content>
