.slide {
  display: block;
  padding: 20px 20px auto;
  width: 100%;

  &__img {
    height: 45vh;
    max-width: 80%;
    pointer-events: none;
    margin: auto;

    img {
      background-size: auto 100%;
      background: no-repeat 50% 50%;
      border-radius: 5px;
      pointer-events: none;
      margin-top: 60px;
    }
  }

  &__header {
    height: 10vh;
  }

  &__desc {
    height: 25vh;

  }
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}