<ion-header translucent="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="9">
                    <ion-icon name="location-outline"></ion-icon>
                    <ion-label> Tashkent, Chilanzar District</ion-label>
                </ion-col>
                <ion-col size="3" class="right">
                    <ion-icon name="options"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-segment direction="x" class="categories-wrapper m-t-sm">
        <div *ngFor="let category of categories" class="category">
            <img style="  max-width:  fit-content !important;"
                 class="button inline-button" width="60"
                 height="60" src="{{category.img}}">
            <span class="category-text">{{category.type}}</span>
        </div>
    </ion-segment>

    <ion-card>
        <ion-row>
            <ion-col size="2"><img class="features-section-icon" src="assets/categories-icons/features-section.png">
            </ion-col>
            <ion-col size="10">
                <ion-col size="12" class="block"><span class="category-title">Featured Public Inquiries</span></ion-col>
                <ion-col size="12">
                    <ion-label>View the most popular inquiries around you.</ion-label>
                </ion-col>
            </ion-col>
        </ion-row>

        <ion-segment direction="x" class="images-wrapper">
            <div class="card-body">
                <img class="image" src="assets/photos/photo-a-1.png" style="max-width: inherit !important;">
                <span class="card-text">Trees Cut Illegally</span>
                <span class="card-sub-text">
          Ecology, Tashkent
        </span>
            </div>
            <div class="card-body">
                <img class="image" src="assets/photos/photo-a-2.png" style="max-width: inherit !important;">
                <span class="card-text">New Playground</span>
                <span class="card-sub-text">
          Residence, Tashkent
        </span>
            </div>
            <div class="card-body">
                <img class="image" src="assets/photos/photo-a-3.png" style="max-width: inherit !important;">
                <span class="card-text">Chess Championship</span>
                <span class="card-sub-text">
         Social, Samarkand
        </span>
            </div>
        </ion-segment>

        <ion-item>
            <ion-label class="text-muted"></ion-label>
        </ion-item>

        <ion-item (click)="goToMyRequests()">
            <ion-label class="text-muted block" (click)="goToMyRequests()">View All</ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-row>
            <ion-col size="2"><img class="features-section-icon" src="assets/categories-icons/road-category.png">
            </ion-col>
            <ion-col size="10">
                <ion-col size="12" class="block"><span class="category-title">"Best" Roads In Town</span></ion-col>
                <ion-col size="12">
                    <ion-label>View the most popular inquiries about the roads in town.</ion-label>
                </ion-col>
            </ion-col>
        </ion-row>

        <ion-segment direction="x" class="images-wrapper">
            <div class="card-body">
                <img class="image" src="assets/photos/photo-b-1.png" style="max-width: inherit !important;">
                <span class="card-text">Roads</span>
                <span class="card-sub-text">
            Residence, Tashkent
          </span>
            </div>
            <div class="card-body">
                <img class="image" src="assets/photos/photo-b-2.png" style="max-width: inherit !important;">
                <span class="card-text">Roads</span>
                <span class="card-sub-text">
            Residence, Tashkent
          </span>
            </div>
            <div class="card-body">
                <img class="image" src="assets/photos/photo-b-3.png" style="max-width: inherit !important;">
                <span class="card-text">Roads</span>
                <span class="card-sub-text">
            Residence, Tashkent
          </span>
            </div>
        </ion-segment>

        <ion-item>
            <ion-label class="text-muted"></ion-label>
        </ion-item>

        <ion-item (click)="goToMyRequests()">
            <ion-label class="text-muted block">View All</ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-row>
            <ion-col size="2"><img class="features-section-icon" src="assets/categories-icons/electricity-category.png">
            </ion-col>
            <ion-col size="10">
                <ion-col size="12" class="block"><span class="category-title">Energy related requests</span></ion-col>
                <ion-col size="12">
                    <ion-label>View the most popular inquiries about the roads in town.</ion-label>
                </ion-col>
            </ion-col>
        </ion-row>

        <ion-segment direction="x" class="images-wrapper">
            <div class="card-body">
                <img class="image" src="assets/photos/photo-c-1.jpg" style="max-width: inherit !important;">
                <span class="card-text">Light goes every 2 hours</span>
                <span class="card-sub-text">
              Roads, Bukhara
          </span>
            </div>
            <div class="card-body">
                <img class="image" src="assets/photos/photo-c-2.jpg" style="max-width: inherit !important;">
                <span class="card-text">No lightening on roads in darkness</span>
                <span class="card-sub-text">
              Roads, Khiva
          </span>
            </div>
            <div class="card-body">
                <img class="image" src="assets/photos/photo-c-3.jpg" style="max-width: inherit !important;">
                <span class="card-text">Storm caused severe damage</span>
                <span class="card-sub-text">
            Roads, Tashkent
          </span>
            </div>
        </ion-segment>

        <ion-item>
            <ion-label class="text-muted"></ion-label>
        </ion-item>

        <ion-item (click)="goToMyRequests()">
            <ion-label class="text-muted block">View All</ion-label>
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-card>

</ion-content>