.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.categories-wrapper {
  background-color: transparent;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment.category {
    flex: 1 0 100px;
  }

  .category {
    margin-right: 10px;
    margin-left: 10px;
  }

  .button {
    border-radius: 15px;
    box-shadow: 2px 2px rgba(204, 204, 204, 0.5);
  }

  .category-text {
    color: #4f4e54;
    margin: auto;
    display: table;
  }
}

.top-header {
  margin: auto 5px;
}

.right {
  text-align: right;
}

.features-section-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 4px;
  margin: 4px auto;
}

.category-title {
  font-size: 16px;
  color: #4f4e54;
  font-weight: 500;
}

.images-wrapper {
  background-color: transparent;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment.card-body {
    flex: 1 0 100px;
  }

  .category {
    margin-right: 10px;
    margin-left: 10px;
  }

  .image {
    border-radius: 5px;
    box-shadow: 2px 2px rgba(204, 204, 204, 0.5);
    width: 130px !important;
    height: 110px !important;
    margin-right: 10px;
  }
  .card-text {
    color: #4f4e54;
    //margin: auto;
    display: table;
  }

  .card-sub-text {
    text-align: start;
    font-size: 12px;
  }
}

/* form styling */
p {
  font-size: 0.8em;
  color: #d2d2d2;
}

ion-slides {
  height: 100%;
}

ion-slide {
  display: block;
}

ion-label, .select-text {
  margin-left: 10px;
}

.invalid {
  border: 1px solid #ea6153;
}
