ion-icon {
  &[name="home"] {
    content: url("~src/assets/active-icons/incoming-icon-active.svg");
  }
  &[name="my-requests"] {
    content: url("~src/assets/active-icons/solved-icon-active.svg");
  }

  &[name="add-request"] {
    content: url("~src/assets/active-icons/add-issue-icon-active.svg");
  }

  &[name="search"] {
    content: url("~src/assets/active-icons/search-icon-active.svg");
  }

  &[name="profile"] {
    content: url("~src/assets/active-icons/user-icon-active.svg");
  }
}