<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-requests">
      <ion-icon name="images"></ion-icon>
      <ion-label>My Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-request">
      <ion-icon name="square"></ion-icon>
      <ion-label>Add Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="square"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
