<app-explore-container name="My Requests"></app-explore-container>

<ion-content fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">My Requests</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card class="card" *ngFor="let card of cards; index as position">
        <ion-grid>
            <ion-row>
                <ion-col size="6" size-sm>
                    <img class="img-of-card" src="{{card.img}}">
                </ion-col>
                <ion-col size="6" size-sm>
                    <ion-list lines="inset">
                        <ion-card-header class="card__header">
                            <ion-card-title class="card__header__title">{{card.title}}</ion-card-title>
                            <ion-card-subtitle class="card__header__subtitle">{{card.subtitle}}</ion-card-subtitle>
                            <div class="card__header__location">
                                <ion-icon name="location-outline"></ion-icon>
                                <ion-label class="ion-text-wrap">
                                    {{card.location}}
                                </ion-label>
                            </div>
                        </ion-card-header>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            {{card.content}}
        </ion-card-content>
    </ion-card>
</ion-content>