ion-content ion-toolbar {
  --background: translucent;
}

.img-of-card {
  background: #fff no-repeat center;
  background-position: 50% 50%;
  background-size: auto 100%;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card-header {
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;

  &__title{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1;
  }

  &__subtitle{
    font-size: 0.7rem;
    padding-top: 0.7rem;
  }

  &__location {
    padding-top: 0.7rem;
    font-size: 1.4em;
  }
}
