ion-content ion-toolbar {
  --background: translucent;
}

.img-of-card {
  background-image: url("../../../assets/photos/photo-a-1.png");
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card-header {
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;

  &__location {
    padding-top: 1rem;
    font-size: 1.4em;
  }
}
