<ion-header>
    <ion-toolbar>
        <ion-title>
            My Requests
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let card of cards; index as position">
        <ion-grid>
            <ion-row>
                <ion-col size="6" size-sm>
                    <span class="img-of-card" [ngStyle]="{'background-image': 'url(' + card.img + ')'}"></span>
                </ion-col>
                <ion-col size="6" size-sm>
                    <ion-list lines="inset">
                        <ion-card-header class="card-header">
                            <ion-card-title class="card-header__title">{{card.title}}</ion-card-title>
                            <ion-card-subtitle class="card-header__subtitle">{{card.subtitle}}</ion-card-subtitle>
                            <div class="card-header__location">
                                <ion-icon name="location-outline"></ion-icon>
                                <ion-label class="ion-text-wrap">
                                    {{card.location}}
                                </ion-label>
                            </div>
                        </ion-card-header>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            {{card.content}}
        </ion-card-content>
    </ion-card>
</ion-content>