ion-item > .description {
  border: 1px solid #dedede !important;
  border-radius: 10px;
}

ion-content ion-toolbar {
  --background: translucent;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.categories-wrapper {
  background-color: transparent;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment.category {
    flex: 1 0 100px;
  }

  .category {
    margin-right: 10px;
    margin-left: 10px;
  }

  .button {
    border-radius: 15px;
    box-shadow: 2px 2px rgba(204, 204, 204, 0.5);
  }

  .category-text {
    color: #4f4e54;
    margin: auto;
    display: table;
  }
}

.category-title {
  font-size: 16px;
  color: #4f4e54;
  font-weight: 500;
}

.images-wrapper {
  background-color: transparent;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  ion-segment.card-body {
    flex: 1 0 100px;
  }

  .category {
    margin-right: 10px;
    margin-left: 10px;
  }

  .image {
    border-radius: 5px;
    box-shadow: 2px 2px rgba(204, 204, 204, 0.5);
    width: 130px !important;
    height: 110px !important;
    margin-right: 10px;
  }
  .card-text {
    color: #4f4e54;
    display: table;
  }

  .card-sub-text {
    text-align: start;
    font-size: 12px;
  }
}

.centered ion-button {
  background-color: rgb(56, 128, 255);
  border-radius: 50%;
}

ion-icon[name="camera"] {
  color: #000;
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}