<app-explore-container name="Add Request"></app-explore-container>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Add Request</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item lines="none">
        <ion-label>Pick a category</ion-label>
    </ion-item>

    <ion-segment direction="x" class="categories-wrapper m-t-sm">
        <div *ngFor="let category of categories" class="category">
            <img style="  max-width:  fit-content !important;"
                 class="button inline-button" width="60"
                 height="60" src="{{category.img}}">
            <span class="category-text">{{category.type}}</span>
        </div>
    </ion-segment>

    <ion-item lines="inset" class="divider"></ion-item>

    <ion-item lines="none">
        <ion-label>Title</ion-label>
    </ion-item>

    <!-- Textarea in an item with a placeholder -->
    <ion-item lines="inset">
        <ion-textarea placeholder="type title here..."></ion-textarea>
    </ion-item>

    <ion-item lines="none">
        <ion-label>Location</ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label> Tashkent, Chilanzar District</ion-label>
    </ion-item>

    <ion-item lines="none">
        <ion-label>Problem Urgency</ion-label>
    </ion-item>

    <ion-item lines="inset">
        <ion-range pin="true" color="danger" min="21" max="72" step="3" snaps="true">
            <ion-label slot="start">Low</ion-label>
            <ion-label slot="end">High</ion-label>
        </ion-range>
    </ion-item>

    <ion-item lines="none">
        <ion-label>Description</ion-label>
    </ion-item>

    <ion-item lines="none">
        <ion-textarea class="description" placeholder="  type description here..."></ion-textarea>
    </ion-item>

    <ion-list>
        <ion-item>
            <ion-label>Add publicly</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-item lines="none">
        <ion-label>Upload Request Photo</ion-label>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
                         (click)="showActionSheet(photo, position)"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="centered">
        <ion-button size="large" shape="round" (click)="photoService.addNewToGallery()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
    </div>

</ion-content>
